# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
.vscode/

# IntelliJ
out/

# FVM Version Cache
.fvm/
tmp_home/
.tmp_home/
.flutter_tools_test/
.temp_home/
.home/


# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages